<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>chit-chat</title>
  <link rel="shortcut icon" href="../static/image/logo.svg" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
<meta name="viewport" content="width=device-width, initial-scale=0.7"><link rel="stylesheet" href="../static/css/chart.css">
</head>
<body>
	{% if not session and session['loggedin'] %}
		window.location.href = "/";
	{% endif %}
<div id="chat" class="chat">
	<div class="conversation">
		<div class="head">	
			<div class="person avatar">
				<div class="online"></div>
			</div>
			<h3 class="person-name">{{session['name'].upper()}}</h3>
			<div class="buttons">
				<svg id="button-options" class="button-option icon"  stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round" height="1.25em" width="1.25em" xmlns="http://www.w3.org/2000/svg">
					<circle cx="12" cy="12" r="10"></circle>
					<line x1="12" y1="16" x2="12" y2="12"></line>
					<line x1="12" y1="8" x2="12.01" y2="8"></line>
				</svg>
				<a id="logout" class="material-symbols-outlined" href="{{url_for('logout')}}">
					logout
				</a>
			</div>
		</div>
		
		<div id="messages" class="messages">
			<div class="time" id = "date">Today</div>
			<div class="msg-text">
				<span class="text">Hello</span>
			</div>
			<div class="msg-text">
				<span class="text">How are you doing?</span>
			</div>
			<div class="msg-text owner">
				<span class="text">Fine</span>
			</div>
			<div class="msg-text owner">
				<span class="text">You?</span>
			</div>
			<div class="msg-text">
				<span class="text">Good</span>
			</div>
		</div>
		
		<div class="field">
			
			<input id="input-message" class="input-message" type="text" placeholder="Type something..." />
			<div class="icon plus">
				<svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
					<path d="M21.44 11.05l-9.19 9.19a6 6 0 0 1-8.49-8.49l9.19-9.19a4 4 0 0 1 5.66 5.66l-9.2 9.19a2 2 0 0 1-2.83-2.83l8.49-8.48"></path>
				</svg>
			</div>
			<div id="send-text" class="icon send text">
				<svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
					<line x1="22" y1="2" x2="11" y2="13"></line>
					<polygon points="22 2 15 22 11 13 2 9 22 2"></polygon>
				</svg>
			</div>
		</div>
	</div>
	
	<div id="options" class="options">
		<div class="head">
			<div id="close-options" class="close icon">
				<svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round" height="2em" width="2em" xmlns="http://www.w3.org/2000/svg">
					<line x1="19" y1="12" x2="5" y2="12"></line>
					<polyline points="12 19 5 12 12 5"></polyline>
				</svg>
			</div>
		</div>
		
		<div class="info">
			<div class="person photo">
				<div class="online"></div>
			</div>
			<h2 class="name">{{ session['name'].upper() }}</h2>
			<hr />
			<div class="details">
				<label class="dark-mode">
					<span class="label">Dark Mode</span>
					<input id="input-dark" class="input-dark" type="checkbox" />
					<div class="toggle">
						<div class="circle"></div>
					</div>
				</label>
				<div class="theme">
					<span class="label">Theme</span>
					<div class="colors">
						<div id="color-blue" class="color blue"></div>
						<div id="color-red" class="color red"></div>
						<div id="color-green" class="color green"></div>
						<div id="color-purple" class="color purple"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script  src="../static/js/chat.js"></script>
</body>
</html>

